{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "67b8d999f11c52932f82d4ce" -%}{%- assign bodyClasses = "" -%}
  {%- render 'navigation' -%}<img src="{{ 'gradient-circle.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1806px) 100vw, 1806px" srcset="{{ 'gradient-circle-p-500.png' | asset_url }} 500w, {{ 'gradient-circle-p-800.png' | asset_url }} 800w, {{ 'gradient-circle-p-1080.png' | asset_url }} 1080w, {{ 'gradient-circle.avif' | asset_url }} 1806w" alt="" class="gradient-circle orange">
  <section class="section hero">
    <div class="w-layout-blockcontainer container-5 w-container">
      <div class="w-layout-hflex flex-block">
        <div class="w-layout-vflex flex-block-2">
          <div class="relative">
            <h1 class="hero-h1 _1 sd1">{{ 't140ba' | t }}</h1><img src="{{ 'star.svg' | asset_url }}" loading="lazy" alt="" class="dot sd3">
          </div>
          <div class="relative">
            <h1 class="hero-h1 _2">{{ 't267729' | t }}</h1><img src="{{ 'circle-vector.svg' | asset_url }}" loading="lazy" alt="" class="image sd2">
          </div>
          <div class="relative">
            <h1 class="hero-h1 _3 sd3">{{ 't638004ca' | t }}</h1><img src="{{ 'squibble-vector.svg' | asset_url }}" loading="lazy" alt="" class="image-2 sd2">
          </div>
        </div>
        <div class="w-layout-vflex flex-block-3">
          <h2 class="heading sd2">{{ 'tn5c254bf3' | t }}</h2>
          <div class="spacer _10"></div>
          <div class="w-layout-hflex flex-block-4">
            <a href="https://www.hushhushcoffee.com/products/coffee" class="button sd3 w-button">{{ 't2697ebd6' | t }}</a>
            <link rel="prerender" href="https://www.hushhushcoffee.com/products/coffee">
            <a href="{{ pages["nomadic-cafe"].url }}" class="button outline sd4 w-button">{{ 'tn931ec' | t }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="v-line"></div>
  </section>
  <section class="section cols"><img src="{{ 'purple-circle.avif' | asset_url }}" loading="lazy" sizes="(max-width: 782px) 100vw, 782px" srcset="{{ 'purple-circle-p-500.png' | asset_url }} 500w, {{ 'purple-circle.avif' | asset_url }} 782w" alt="" class="gradient-circle purple"><img src="{{ 'blue-circle.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1236px) 100vw, 1236px" srcset="{{ 'blue-circle-p-500.png' | asset_url }} 500w, {{ 'blue-circle-p-800.png' | asset_url }} 800w, {{ 'blue-circle-p-1080.png' | asset_url }} 1080w, {{ 'blue-circle.avif' | asset_url }} 1236w" alt="" class="gradient-circle blue">
    <div class="w-layout-blockcontainer container-8 w-container">
      <div class="w-layout-hflex flex-block-5">
        <div class="w-layout-vflex flex-block-6 sd1"><img src="{{ 'hush1-optimized_1.avif' | asset_url }}" loading="lazy" alt="" class="col-img">
          <h3 class="h2">{{ 'tn43124f46' | t }}</h3>
          <p>{{ 't709f2c45' | t }}</p>
        </div>
        <div class="w-layout-vflex flex-block-6 sd2"><img src="{{ 'hush-2-optimized_1.avif' | asset_url }}" loading="lazy" alt="" class="col-img">
          <h3 class="h2">{{ 't3601dde' | t }}</h3>
          <p>{{ 't4ec23cd5' | t }}</p>
        </div>
        <div class="w-layout-vflex flex-block-6 sd3"><img src="{{ 'hush-3-optimized_1.avif' | asset_url }}" loading="lazy" alt="" class="col-img">
          <h3 class="h2">{{ 't7211c92a' | t }}</h3>
          <p>{{ 't6eb99e7e' | t }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section blob">
    <div class="w-layout-blockcontainer container-2 w-container">
      <div class="w-layout-vflex flex-block-7"><img src="{{ 'smiley.svg' | asset_url }}" loading="lazy" alt="" class="smiley sd1">
        <div class="spacer _25"></div>
        <h2 class="hero-h1 _2 subs sd1">{{ 'tn2b95caa0' | t }}</h2>
        <h3 class="hero-h1 _2 subs brains sd1">{{ 't76ced3cc' | t }}</h3>
        <div class="spacer _50"></div>
        <div class="w-layout-vflex flex-block-10">
          <div class="w-layout-hflex flex-block-8"><img src="{{ 'hush-top-optimized_1.avif' | asset_url }}" loading="lazy" width="487" sizes="(max-width: 767px) 100vw, 487px" alt="" srcset="{{ 'hush-top-optimized_1hush-top-optimized.avif' | asset_url }} 500w, {{ 'hush-top-optimized_1.avif' | asset_url }} 1096w" class="hush-img sd1">
            <div class="w-layout-vflex flex-block-9 sd2">
              <h3 class="black">{{ 't74cbc42b' | t }}</h3>
              <p class="paragraph-2">{{ 't1da8478' | t }}<br>{{ 't43dd6c94' | t }}</p>
              <a href="https://www.hushhushcoffee.com/products/coffee" class="button w-button">{{ 'tn6c4debe5' | t }}</a>
            </div>
          </div><img src="{{ 'dotted-line.svg' | asset_url }}" loading="lazy" alt="" class="sd1">
          <div class="w-layout-hflex flex-block-8">
            <div class="w-layout-vflex flex-block-9 sd1">
              <h3 class="black">{{ 't365d2830' | t }}</h3>
              <p class="paragraph-2">{{ 'tn27c93621' | t }}<br>{{ 't54149612' | t }}</p>
              <a href="https://www.hushhushcoffee.com/products/coffee" class="button w-button">{{ 't51649b86' | t }}</a>
            </div><img src="{{ 'hush-side-optimized_1.avif' | asset_url }}" loading="lazy" width="487" sizes="(max-width: 767px) 100vw, 487px" alt="" srcset="{{ 'hush-side-optimized_1hush-side-optimized.avif' | asset_url }} 500w, {{ 'hush-side-optimized_1.avif' | asset_url }} 1100w" class="hush-img sd2">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section nomadic">
    <div class="w-layout-blockcontainer container-2 w-container">
      <div class="w-layout-vflex flex-block-7"><img src="{{ 'nomadic.svg' | asset_url }}" loading="lazy" alt="" class="nomad-icon sd1">
        <div class="spacer _25"></div>
        <h2 class="hero-h1 _2 subs sd1">{{ 'tn56af72d7' | t }}</h2>
        <h3 class="hero-h1 _2 subs brains sd1">{{ 't1f719d' | t }}</h3>
        <div class="spacer _25"></div>
        <p class="text-center black max-420 sd1">{{ 'tn14258143' | t }}</p>
        <div class="spacer _50"></div>
        <div id="w-node-b3a52bf0-aa86-196a-d183-f26ba3439380-2f82d4ce" class="w-layout-layout quick-stack wf-layout-layout">
          <div class="w-layout-cell"><img src="{{ 'hush-community-2-optimized_1.avif' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'hush-community-2-optimized_1hush-community-2-optimized.avif' | asset_url }} 500w, {{ 'hush-community-2-optimized_1hush-community-2-optimized.avif' | asset_url }} 800w, {{ 'hush-community-2-optimized_1.avif' | asset_url }} 1471w" alt="" class="quick-stack-img sd1"></div>
          <div class="w-layout-cell"><img src="{{ 'hush-community-1-optimized_1.avif' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'hush-community-1-optimized_1hush-community-1-optimized.avif' | asset_url }} 500w, {{ 'hush-community-1-optimized_1.avif' | asset_url }} 873w" alt="" class="quick-stack-img sd2">
            <div class="spacer _25"></div>
            <div class="w-layout-vflex quote-box sd1"><img src="{{ 'quotes.svg' | asset_url }}" loading="lazy" alt="">
              <div class="spacer _25"></div>
              <p class="aveir"><em class="italic-text">{{ 't16a677d' | t }}<br>{{ 't200d' | t }}<br>{{ 't23ff4ee2' | t }}</em></p>
            </div>
          </div>
          <div class="w-layout-cell"><img src="{{ 'hush-community-6-optimized_1.avif' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'hush-community-6-optimized_1hush-community-6-optimized.avif' | asset_url }} 500w, {{ 'hush-community-6-optimized_1hush-community-6-optimized.avif' | asset_url }} 800w, {{ 'hush-community-6-optimized_1.avif' | asset_url }} 1471w" alt="" class="quick-stack-img upward sd1"></div>
          <div class="w-layout-cell cell"><img src="{{ 'hush-community-3-optimized_1.avif' | asset_url }}" loading="lazy" alt="" class="quick-stack-img sd1"></div>
          <div class="w-layout-cell">
            <div class="subscribe-form sd1 w-form">
              <h3 class="black">{{ 't68dfc10f' | t }}<br>{{ 't5e9fa85f' | t }}</h3><img src="{{ 'chat.svg' | asset_url }}" loading="lazy" alt="" class="chat">
              <div class="spacer _25"></div>
              <p class="text-left">{{ 'tn45b34e5d' | t }}</p>
              {%- form "contact",  class: "form" -%}<input class="field w-input" maxlength="256" name="contact[name]" data-name="Name" placeholder="{{ 't24eeab' | t }}" type="text" id="name"><input class="field w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="{{ 't3ff5b7c' | t }}" type="email" id="Email" required="">
                <div class="spacer _10"></div><input type="submit" data-wait="Please wait..." class="button _100 w-button" value="{{ 'tn6bbed3c8' | t }}">
              {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
              <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                <div>{{ 't5a0ea5a1' | t }}</div>
              </div>
              {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                <div>{%- render "form-errors", form_errors: form_errors -%}</div>
              </div>{%- endunless -%}
            </div>
          </div>
          <div class="w-layout-cell"><img src="{{ 'hush-community-4-optimized_1.avif' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'hush-community-4-optimized_1hush-community-4-optimized.avif' | asset_url }} 500w, {{ 'hush-community-4-optimized_1.avif' | asset_url }} 873w" alt="" class="quick-stack-img sd1"></div>
          <div class="w-layout-cell"><img src="{{ 'hush-community-5-optimized_1.avif' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'hush-community-5-optimized_1hush-community-5-optimized.avif' | asset_url }} 500w, {{ 'hush-community-5-optimized_1hush-community-5-optimized.avif' | asset_url }} 800w, {{ 'hush-community-5-optimized_1.avif' | asset_url }} 1470w" alt="" class="quick-stack-img upward _2 sd1"></div>
          <div class="w-layout-cell">
            <div class="w-layout-vflex quote-box sd1"><img src="{{ 'quotes.svg' | asset_url }}" loading="lazy" alt="">
              <div class="spacer _25"></div>
              <p class="aveir"><em class="italic-text">{{ 't1da68f74' | t }}<br> <br>{{ 'tn40e52683' | t }}</em></p>
            </div>
          </div>
          <div class="w-layout-cell"><img src="{{ 'hush-community-7-optimized_1.avif' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'hush-community-7-optimized_1hush-community-7-optimized.avif' | asset_url }} 500w, {{ 'hush-community-7-optimized_1.avif' | asset_url }} 1470w" alt="" class="quick-stack-img upward heighten sd1"></div>
          <div class="w-layout-cell"><img src="{{ 'hush-community-8-optimized_1.avif' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'hush-community-8-optimized_1hush-community-8-optimized.avif' | asset_url }} 500w, {{ 'hush-community-8-optimized_1.avif' | asset_url }} 873w" alt="" class="quick-stack-img shorten sd1"></div>
        </div>
      </div>
    </div><img src="{{ 'blue-circle.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1236px) 100vw, 1236px" srcset="{{ 'blue-circle-p-500.png' | asset_url }} 500w, {{ 'blue-circle-p-800.png' | asset_url }} 800w, {{ 'blue-circle-p-1080.png' | asset_url }} 1080w, {{ 'blue-circle.avif' | asset_url }} 1236w" alt="" class="gradient-circle blue"><img src="{{ 'gradient-circle.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1806px) 100vw, 1806px" srcset="{{ 'gradient-circle-p-500.png' | asset_url }} 500w, {{ 'gradient-circle-p-800.png' | asset_url }} 800w, {{ 'gradient-circle-p-1080.png' | asset_url }} 1080w, {{ 'gradient-circle.avif' | asset_url }} 1806w" alt="" class="gradient-circle orange image-2">
  </section>
  <section class="section blob">
    <div class="w-layout-blockcontainer container-2 _2 w-container">
      <div class="w-layout-hflex flex-block-11"><img src="{{ 'top-hush-optimized.avif' | asset_url }}" loading="lazy" alt="" class="image-4">
        <div class="w-layout-vflex flex-block-12"><img src="{{ 'rays.svg' | asset_url }}" loading="lazy" alt="" class="rays">
          <h2 class="hero-h1 _2 subs sd2">{{ 't3b32b6d' | t }}</h2>
          <div class="spacer _25"></div>
          <p class="text-left sd1">{{ 'tn45d0d3ce' | t }}<br><br>{{ 't5cf0e72c' | t }}<br><br>{{ 't6df61ac1' | t }}</p>
          <div class="spacer _25"></div>
          <a href="https://www.instagram.com/hushhushcoffee/" target="_blank" class="button outline sd1 w-button">{{ 'tn1d97540' | t }}</a>
        </div>
      </div>
    </div>
  </section>
  {%- render 'footer' -%}
  <div class="sd1"></div>
  <div class="sd2"></div>
  <div class="sd3"></div>
  <div class="sd4"></div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=67b8d999f11c52932f82d4bf" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}